<div class="<%= workshop.percentage_complete == 100 ? "complete" : "percentage-complete" %>">
  <div class="number"><%= workshop.percentage_complete %>%</div>
  <div class="text">Complete</div>
</div>
