<p>
  Having been involved in Global Diversity CFP Day 2019, we want to make the setup of your 2020 workshop as easy as possible. If you intend hosting in the same venue as 2019 we'd recommend you...
</p>
<%= link_to 'Duplicate 2019 Workshop', workshop_duplicate_path, class: 'btn btn-warning pull-left', method: :post %>
<br/>
<br/>
<br/>
<p>
  otherwise you can create a fresh new workshop here
</p>
<%= link_to 'New 2020 Workshop', new_workshop_path, class: 'btn btn-warning pull-left' %>
