<hr/>
<div id="announcement">
  <h2>Announcement:</h2>
  <h2>Global Diversity CFP Day Rescheduled to February 20th 2021</h2>

  <p>
    During the organisation of Global Diversity CFP Day 2021 there have been a few difficulties around making the event as awesome as it needs be.
  </p>

  <p>
    The good news is these difficulties have been resolved, however the event has been rescheduled to achieve these high standards set by the team.
  </p>

  <p>
    Now Global Diversity CFP Day will take place on February 20th 2021 and we hope you can still make it!
  </p>

  <p>
    We appreciate this is a huge disappointment especially so close to the event and apologise for the inconvenience and disappointment.
  </p>

  <p>
    All of the speakers and organisers are still excited to get your speaking journey moving, to see your future talks and learn from you.
  </p>

  <p>
    We look forward to meeting you on February 20th👋
  </p>

  <p>
    See you soon,<br/>
    Team CFP Day
  </p>
</div>

<hr/>
