<h2>Workshops</h2>
<h4>Germany: Berlin: CSS & JSConf EU Edition</h4>
<ol class="workshop-list">
  <a href="/events/berlin">
    <li class="workshop-list-item">
      Thursday, May 30th 2019
      <button class="ticket-button btn btn-warning">Book your free ticket</button>
    </li>
  </a>
</ol>
