<h2><%= t('homepage.community-partners') %></h2>
<div>
  <%= community_partner_link("Codebar", "https://codebar.io/", "codebar.png") %>
  <%= community_partner_link("Code Your Future", "https://codeyourfuture.io/", "cyf.png") %>
  <%= community_partner_link("Data Umbrella", "https://www.dataumbrella.org/", "data-umbrella.png") %>
</div>
