<h2>Workshops</h2>
<% if workshops.empty? %>
  Currently we have no confirmed workshops. Please sign up below to organise a workshop.
<% else %>

  These locations have already confirmed participation. If you can't find a location near you, why not <a href="#organise">organise a workshop </a> yourself?

  <% workshops.keys.each do |continent| %>
    <br/><br/>
    <h3><%= continent %></h3>
    <% workshops[continent].keys.each do |country| %>
      <h4><%= country %></h4>
      <ol class="workshop-list">
      <% workshops[continent][country].each do |workshop| %>
        <li class="workshop-list-item">
          <%= workshop.city %>

          <a target="_blank" class="ticket-button btn btn-warning" href="<%= workshop.ticketing_url %>">
            Get your ticket!
          </a>
        </li>
      <% end %>
      </ol>
    <% end %>
  <% end %>

<% end %>
