<div id="intro" class="jumbotron">
  <h1>global diversity <abbr title="Call for Proposals">CFP</abbr> day</h1>
  <h2>
    Have you always wanted to become a tech conference speaker?
  </h2>
  <h2>
    Let 2019 be the year that you make that dream a reality!
  </h2>
  <h2>
    Save the date - Saturday 2nd March 2019
  </h2>
  <% link_to "Schedule", schedule_index_path, class: "btn btn-warning" %>

  <% link_to "Sign up to mailing list", mailing_list_sign_up_path, class: "btn btn-warning" %>
  <%= link_to "Organise a workshop", organise_path, class: "ticket-button btn btn-warning" %>

  <% link_to "CFPs", cfps_path, class: "ticket-button btn btn-warning" %>
</div>

<div>
  <p>
    <h2>Saturday 2nd March 2019</h2>
    On Saturday 2nd March 2019 there will be numerous workshops hosted around the globe encouraging and advising newbie speakers to put together your very first talk proposal and share your own individual perspective on any subject of interest to people in tech.
  </p>

  <p>
    Each workshop will have experienced speakers on hand to:
    <ol>
      <li>give you a warm, inclusive welcome in a safe space (check out our <%= link_to "Code of Conduct", code_of_conduct_path %> which all participants must adhere to)</li>
      <li>mentor you with your proposal</li>
      <li>provide speaking advice</li>
      <li>and share their enthusiasm to get you to the stage!</li>
    </ol>
  </p>

  <br/>

  <div class="jumbotron background-<%= random_jumbo_pic_class %>"></div>

  <p>
    <h2>Subject Matter</h2>
    These workshops have no specific language, framework or process as a focus. Even if your talk isn’t even related to tech we want to hear from you too! In short, if there is something that you want to shout to the world we're here to help you get there regardless of the boundaries of technology or communities.
  </p>

  <hr/>

  <div id="workshops">
    <%= render 'workshops', workshops: @workshops %>
  </div>

<!--    <hr/>

 <p>
    <h2>What do you need to do next?</h2>

    Currently we're looking for people excited about this idea to organise workshops in their city. Above you can see the locations already lined up!
  </p>
  <p>
    Once the workshops have all their details confirmed we'll be releasing tickets. If you'd like to be notified about this please sign up to our mailing list.
  </p>
 -->  <br/>
  <% link_to "Sign up to mailing list", mailing_list_sign_up_path, class: "btn btn-warning" %>
  <% link_to "Organise a workshop", organise_path, class: "ticket-button btn btn-warning" %>
</div>

<hr/>


<div id="organise">
  <p>
    There have been many diversity outreach efforts in the past, and we are still on the long journey to achieve equality in tech. Please join us on Saturday 2nd March 2019 to take that first step to bring your unique voice to the stage.
  </p>

</div>
