<h1>CFPs</h1>

<% if current_user.present? %>
  <%= link_to "New CFP", new_cfp_path, class: "btn btn-warning" %>
  <br/>
  <br/>
  <div>
    All the funky CFPs will appear here
  </div>
<% end %>

<%= render 'cfps', cfps: @cfps %>
