<div id="intro" class="jumbotron">
  <h1>Organising a workshop</h1>
</div>
<div id="organise">
  <%= link_to "Sign up now", new_user_registration_path, class: "ticket-button btn btn-warning" %>
  <h2>Why organise a workshop?</h2>
  <p>
    Are you an meetup or conference organiser, speaker, speaker in the making or someone that feels this event is important and has to happen in your city?
  </p>
  <p>
    In that case our aim is to make it as simple as possible for you to organise a workshop for February 3rd. Sign up and add the details of your workshop, invite your facilitator and mentors too and your workshop details will be added to the site after being reviewed.
  </p>
  <p>
    We'll give you a schedule and a set of educational videos to make sure you have as little to do as possible.
  </p>
  <h3>
    What will you need to get this moving?
  </h3>
  <ol>
    <li>Ensure you agree to our Code of Conduct as you will be in charge of enforcing it.</li>
    <li>A warm postive approach to working with newbie speakers and place a great deal of value in the contribution they bring to this industry.</li>
    <li>A venue with a projector and audio</li>
    <li>A facilitator to introduce the sections of the workshop</li>
    <li>A number of mentors, (one for every five attendees) who can advise attendees with their experience of applying to CFPs in the past.</li>
    <li>A ticketing page</li>
    <li>Eager to promote your workshop to every tech community within 100 miles of the venue.</li>
  </ol>

</div>

<%= link_to "Sign up now", new_user_registration_path, class: "ticket-button btn btn-warning" %>

