<h1>Code of Conduct</h1>

<p>
  All attendees, organisers, facilitator, mentors and venue staff involved in Global Diversity CFP Day are required to agree with the following code of conduct. Staff will enforce this throughout the event.
</p>
<p>
  If you need to report an incident please contact a member of your workshop team, who will provide a range of contact information at the start of the workshop.
</p>
<p>
  If the person you need to report is a member of the workshop team please contact the workshop organiser.
</p>
<p>
  If the person you need to report is the workshop organiser, please contact the
  <a class="btn btn-warning" href="mailto:peter@globaldiversitycfpday.com?Subject=CoC%20Issue">global organising team</a>
</p>


<h2>THE QUICK VERSION</h2>
<p>
  Global Diversity CFP Day is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity, sexual orientation, physical or mental ability, physical appearance, body size, race, or religion. We do not tolerate harassment of  participants or volunteer staff in any form. Sexual language and imagery is not appropriate for any workshop.
</p>
<p>
  If a participant engages in harassing behaviour, the local/global workshop team may take any action they deem appropriate, including warning the offender or expulsion from the workshop.
</p>

<h2>THE LESS QUICK VERSION</h2>
<p>
  Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
</p>
<p>
  Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.
</p>
<p>
  If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact your workshop organiser or facilitator.
</p>
<p>
  Workshop staff will be happy to assist those experiencing harassment to feel safe for the duration of the workshop. We value your attendance and participation.
</p>
<p>
  We expect participants to follow these rules at all workshop venues.
</p>
<p>
  This code of conduct is slightly modified from <a href="http://confcodeofconduct.com">http://confcodeofconduct.com</a>. We will continue to refine as appropriate.
</p>
<p>
  Original source and credit: <a href="http://2012.jsconf.us/#/about">http://2012.jsconf.us/#/about</a> & The Ada Initiative
</p>
<p>
  This work is licensed under a Creative Commons Attribution 3.0 Unported License
</p>
