<%= workshop_link_button %>
<h1>Draft Schedule</h1>

<div class="jumbotron">
  <h4>This is a draft schedule which is aimed at being a starting point for our worldwide workshops.</h4>
  <br/>
  <h4>All suggestions and contributions are welcome, feel free to deviate from this (or the final schedule) in your workshop. </h4>
  <br/>
  <h4>Please use your own judgement about when to move on with each item. If attendees are engrossed in proposal writing let them continue, if they are struggling for focus bring in the next video/activity.</h4>
  <br/>
  <br/>
  <table class="table">
    <tr>
      <td>10am</td>
      <td>Arrival</td>
      <td>Try and always have a member of the team available at the entrance to give attendees a warm, friendly welcome.</td>
    </tr>
    <tr>
      <td>10:15am</td>
      <td>Welcome (Slides to follow)</td>
      <td>Introduce the team and why are they here</td>
      <td>Explain format of workshop</td>
    </tr>
    <tr>
      <td>11:00am</td>
      <td>Advice video #1: CFP Advice from Raquel Velez and Sarah Mei</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><iframe width="560" height="315" src="https://www.youtube.com/embed/lHIHgauh000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:20am</td>
      <td>Mentors work with groups of attendees to help figure out what they want to speak about</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>11:45am</td>
      <td>Proposal Writing</td>
      <td></td>
      <td></td>
    </tr>



    <tr>
      <td>10:30am</td>
      <td>Crafting Your Bio: By Danielle Barnes from @WomenTalkDesign</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><iframe width="560" height="315" src="https://www.youtube.com/embed/GPPnvXlVj7w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        We're hoping this will be a collabrative activity.
        <br/>
        People don't like writing about themselves. Ask attendees to pair up and interview each other, then put together a bio for your pair.
        <br/>
        Once that is done, if folks are comfortable, attendees can present/introduce their pair to the group with their new bio!
      </td>
      <td></td>
      <td></td>
    </tr>


    <tr>
      <td>12:15pm</td>
      <td>Inclusive Language Activity: <a href="https://docs.google.com/spreadsheets/d/1mJhLOdjTGGe-LUOcbiET9_oZn95xl2gpgLO1cAmyFHc/edit#gid=0" target="blank">Google Doc</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:15pm</td>
      <td>Advice video #2: Your perfect tech talk from Saron Yitbarek</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AzVr_nsKoZs?start=131" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>12:30pm</td>
      <td>Proposal Writing + feedback: 1 to 1 with mentors</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>12:15pm</td>
      <td>Advice video: The Art of Slide Design by Melinda Seckington</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e5gwEvQah-s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>1:00pm</td>
      <td>Advice video #3: Jessica Rose: The day of your talk</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1:15pm</td>
      <td>Proposal Writing + feedback</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>1:30pm</td>
      <td>Attendees present their talk proposal</td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>
<%= workshop_link_button %>
