<h1>Draft Schedule</h1>

<div class="jumbotron">
  <h4>This is a draft schedule which is aimed at being a starting point for our worldwide workshops.</h4>
  <br/>
  <h4>All suggestions and contributions are welcome, feel free to deviate from this (or the final schedule) in your workshop. </h4>
  <br/>
  <h4>Please use your own judgement about when to move on with each item. If attendees are engrossed in proposal writing let them continue, if they are struggling for focus bring in the next video.</h4>
  <br/>
  <br/>
  <table class="table">
    <tr>
      <td>10am</td>
      <td>Arrival</td>
    </tr>
    <tr>
      <td>10:15am</td>
      <td>Welcome</td>
    </tr>
    <tr>
      <td>10:20am</td>
      <td>Motivational Introduction</td>
      <td>Who are the team? and who are the attendees</td>
      <td>Ask attendees to introduce themselves</td>
      <td>Explain format of workshop</td>
    </tr>
    <tr>
      <td>10:40am</td>
      <td>Advice video #1: CFP Advice from Raquel Velez and Sarah Mei</td>
    </tr>
    <tr>
      <td>11:00am</td>
      <td>Focus attendees on what they want to speak about</td>
    </tr>
    <tr>
      <td>11:15am</td>
      <td>Proposal Writing</td>
    </tr>
    <tr>
      <td>11:30am</td>
      <td>Advice video #2: TBD: Probably around putting together a talk, having been accepted to speak</td>
    </tr>
    <tr>
      <td>11:45am</td>
      <td>Proposal Writing + feedback: 1 to 1</td>
    </tr>
    <tr>
      <td>12:00pm</td>
      <td>Advice video #3: TBD: Probably around giving a talk</td>
    </tr>
    <tr>
      <td>12:15pm</td>
      <td>Proposal Writing + feedback</td>
    </tr>
    <tr>
      <td>12:30pm</td>
      <td>Attendees present their talk proposal</td>
    </tr>
  </table>

</div>
