<div class="navbar-icon-wrapper">
  <a href="<%= url %>" target="_blank" class="navbar-brand twitter-wrapper">
    <i class="twitter"></i>
    <span class="sr-only">Follow <%= name %> on Twitter</span>
  </a>
</div>
