<div id="intro" class="jumbotron">
  <h1>Berlin, Germany </h1>
  <h2>CSSConf and JSConf EU Edition</h2>
  <h2>19:00 till 21:00 May 30th 2019</h2>
    <a class="ticket-button btn btn-warning" target="blank" href="https://ti.to/scotlandjs/css-jsconf-eu-workshop-2019">Book your free ticket</a>
</div>


  <h2>Location</h2>
  <p>Mozilla
<br>Schlesische Str. 27
<br>Aufgang C, 3. Stock</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2428.877015349074!2d13.447068415806696!3d52.49946577981032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e5397f9359b%3A0x163b9d9a6df43783!2sMozilla+Berlin+office!5e0!3m2!1sen!2suk!4v1542705447280" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen=""></iframe>



  <h2>Mentor</h2>
  <div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
          <div class="col">
            <img class="volunteer--profile-picture" src="http://scotlandjs.com/assets/speakers/ola-black-white-b0757b7a8fd9e4b4aa030452e392b334.jpg" alt="Ola black white">
          </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Ola Gasidlo</div>
        <br>
        <b>Reason for being involved in workshop:</b> I spoke for 5 years at various conferences and want to help to get more people into speaking.
        <br>
        <br>
        <b>About Ola</b>: Daughter driven development. Engineer @ FirefoxDevTools.
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="http://twitter.com/misprintedtype" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Ola Gasidlo on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>

<h2>Mentor</h2>
<div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
          <div class="col">
            <img class="volunteer--profile-picture" src="https://en.gravatar.com/userimage/121119272/2b7472814d98f232c1db9c34709ef619.png" alt="2b7472814d98f232c1db9c34709ef619">
          </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Evelyn Utterson</div>
        <br>
        <b>Reason for being involved in workshop:</b> I mentored at the 2018 event, and being involved in that workshop really boosted my confidence to then MC at ScotlandJS last Summer. I love attending meetups and conferences, and believe it's incredibly important that everyone has an opportunity for their voice to be heard. These workshops help to create those opportunities.
        <br>
        <br>
        <b>About Evelyn</b>: Software developer and trainer based in Edinburgh, UK. Community meetup and events organiser.
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="http://twitter.com/@EvelynUtterson" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Evelyn Utterson on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>


<h2>Mentor</h2>
<div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
          <div class="col">
            <img class="volunteer--profile-picture" src="https://avatars2.githubusercontent.com/u/17544636?s=400&amp;u=7aabfef5691ebbf1c63ed093a3081b0eafc06c65&amp;v=4" alt="17544636?s=400&amp;u=7aabfef5691ebbf1c63ed093a3081b0eafc06c65&amp;v=4">
          </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Eva G</div>
        <br>
        <b>Reason for being involved in workshop:</b> I want to hear stories form everyone, not just the select few!
        <br>
        <br>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="http://twitter.com/lost_semicolon" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Eva G on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>

      <h2>Mentor</h2>
<div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
          <div class="col">
            <img class="volunteer--profile-picture" src="http://flaki.hu/bio.png" alt="Bio">
          </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Istvan Szmozsanszky</div>
        <br>
        <b>Reason for being involved in workshop:</b> If few years ago someone have told me that in a year or two I will be speaking at conferences in front of hundreds of developers, I would have probably laughed them in the face (and would have been utterly terrified of the thought). Since then, I've learned a lot and realized everyone could (and should!) try sharing what they know and do, so I've been trying to do whatever I could to facilitate that as a mentor, conference organizer and community manager with Mozilla and various online communities.
        <br>
        <br>
        <b>About Istvan</b>: Digital Nomad, Frontend Trainer &amp; Consultant, Conference Speaker &amp; Organizer, Mozilla TechSpeaker &amp; TS duck-herder at Mozilla DevRel
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="http://twitter.com/slsoftworks" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Istvan Szmozsanszky on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>


  <h2>Mentor</h2>
  <div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
          <div class="col">
            <img class="volunteer--profile-picture" src="https://pbs.twimg.com/profile_images/2179963251/jiggy_pete_400x400.jpg" alt="Peter Aitken">
          </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Peter Aitken</div>
        <br>
        <b>Reason for being involved in workshop:</b>
        <br/>
          My focus in community work is to support people from underrepresented and marginalised groups take to the stage and share their perspective.
        <br>
        <br>
        <b>About Peter</b>:
        <div>
          Peter is a recovering conference organiser (ScotlandJS and ScotlandCSS) who focuses his community work as creator and co-ordinater of Global Diversity CFP Day!
        </div>
        <br/>
        <div>
          By day he is an agile Ruby and JavaScript developer working with the awesome team at Litmus.
        </div>
        <br/>
        <div>
          By night he can be found thinking of ways to make our community more inclusive.
        </div>

      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="http://twitter.com/@jiggy_pete" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Peter Aitken on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>
  <h2>Access Information</h2>

<div class="grouping">
  <h2>Getting to the venue</h2>
  <h3>Public Transport</h3>

        <p>
        <strong>Is there a public transportation stop near the venue?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>S41/41 -&gt; Treptower Park
<br>10 min walk or BUS 165/265 Elsenstr./S Treptower Park -&gt; Taborstr.</p>

<p>====</p>

<p>M10 -&gt; Warschauer Str. + 10 min walk</p>

<p>====</p>

<p>U1 -&gt; Schlesisches Tor + 10 min walk</p>
      <p></p>
      <br>

        <p>
        <strong>Are public transportation stops accessible to people using mobility devices?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>All stops should be accessible.</p>

<p>The office is accessible as well.</p>
      <p></p>
      <br>

        <p>
        <strong>Are public transportation stops accessible to people using service animals?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>Please note we can not accommodate service animals due to  life threatening allergies. </p>
      <p></p>
      <br>

        <p>
        <strong>Are public transportation stops accessible to people who are sight impaired?</strong>
        No
      </p>

        <p>
        <strong>Is the area around the venue safe and well-lit?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>The area around the office is safe and well-lit towards the west (Schlesisches Tor). To the east, you have to cross a park that is well-lit, but might not feel safe. Please use the Bus here as described above.</p>
      <p></p>
      <br>


  <h3>Parking</h3>

        <p>
        <strong>How close is parking to the venue?</strong>
        </p><p>Parking is tricky in this area. We recommend using the public transport.</p>
      <p></p>

        <p>
        <strong>Are there costs associated with parking?</strong>
        </p><p>Might as parking might be available in the area (but not close by).</p>
      <p></p>


        <p>
        <strong>Is the parking lot well-lit?</strong>
        No
      </p>

        <p>
        <strong>Is the parking lot gated?</strong>
        No
      </p>

        <p>
        <strong>Is the parking lot guarded?</strong>
        No
      </p>


</div>

<div class="grouping">
  <h2>Accessing the venue</h2>

        <p>
        <strong>Is there any building security?</strong>
        Yes
      </p>

        <p>
        <strong>What is the process for entering?</strong>
        </p><p>Please come to the 3rd floor (door on the right side). You will be welcomed by our receptionist and get your badge.</p>
      <p></p>

        <p>
        <strong>Are there steps going into the building or space?</strong>
        </p><p>No.</p>
      <p></p>

        <p>
        <strong>Are there ramps or elevators?</strong>
        </p><p>Yes.</p>
      <p></p>

        <p>
        <strong>Are elevator buttons of an appropriate height for wheelchair users to reach?</strong>
        </p><p>Yes.</p>
      <p></p>

        <p>
        <strong>Is there affordable childcare at or near the venue?</strong>
        </p><p>No</p>
      <p></p>

</div>
<div class="grouping">
  <h2>The Venue</h2>

        <p>
        <strong>Is there a quiet room?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>We can provide a room, if needed.</p>
      <p></p>
      <br>

        <p>
        <strong>Is there a nursing room for parents with a newborn?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>We can provide a room, if needed.</p>
      <p></p>
      <br>

        <p>
        <strong>Is the venue safe for small children?</strong>
        No
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p></p>
      <p></p>
      <br>

        <p>
        <strong>Is the space easily navigable for people using mobility devices or service animals?</strong>
        Yes
      </p>
      <p>
        <strong>Notes:</strong>
        </p><p>The 3rd floor is easily navigable.</p>
      <p></p>
      <br>

        <p>
        <strong>Do chairs in the venue have arms?</strong>
        Yes
      </p>

        <p>
        <strong>Are food and (non-alcoholic) drinks allowed in the space?</strong>
        Yes
      </p>


        <p>
        <strong>How many bathrooms (both single and multiple occupancy) are available?</strong>
        </p><p>1</p>
      <p></p>

        <p>
        <strong>How many wheelchair accessible stalls are there?</strong>
        </p><p>1</p>
      <p></p>

        <p>
        <strong>How many gender-neutral bathrooms are available?</strong>
        </p><p>2</p>
      <p></p>

</div>


  <a class="ticket-button btn btn-warning" target="blank" href="https://ti.to/scotlandjs/css-jsconf-eu-workshop-2019">Book your free ticket</a>

