
<div id="intro" class="jumbotron">
    <div class="container ">
      <div class="row twitter-padding">
        <div class="col col-sm-4">
          <div class="col">
            <%= image_tag "people/natalya_shelburne.jpg", class: 'volunteer--profile-picture' %>
          </div>
        </div>

        <div class="col col-sm-7 justify-content-sm-left volunteer--details" style="padding-left: 0;">
          <div class="volunteer-name">Natalya Shelburne</div>
        </div>

        <div class="col col-sm-1 volunteer-twitter">
          <a href="https://twitter.com/@natalyathree" target="_blank" class="">
            <i class="twitter"></i>
            <span class="sr-only">Follow Natalya Shelburne on Twitter</span>
          </a>
          &nbsp;
        </div>
        <br/>
        <br/>
        <h2>
          From Bootstrap to CSS Grid: From Bootstrap to CSS Grid: Move Forward Without Breaking Anything!
        </h2>
      </div>
  </div>
</div>

