<div id="intro" class="jumbotron">
    <div class="container ">
      <div class="row twitter-padding">
        <div class="col col-sm-4">
          <div class="col">
            <%= image_tag "https://pbs.twimg.com/profile_images/872491163189559296/m22spXoO_400x400.jpg", class: 'volunteer--profile-picture' %>
          </div>
        </div>

        <div class="col col-sm-7 justify-content-sm-left volunteer--details" style="padding-left: 0;">
          <div class="volunteer-name">Alicia V. Carr</div>
        </div>

        <div class="col col-sm-1 volunteer-twitter">
          <a href="https://twitter.com/@fineblkwoman" target="_blank" class="">
            <i class="twitter"></i>
            <span class="sr-only">Follow Alicia V. Carr on Twitter</span>
          </a>
          &nbsp;
        </div>
        <br/>
        <br/>
        <h2>
          Using your superpowers for good to change the world!
        </h2>
      </div>
  </div>
</div>
