

<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
<br/>
<br/>

<%= render "from-bootstrap-to-css-grid--header" %>

<h2>Abstract</h2>
<p>
  Don’t let still being on a float based layout (like Bootstrap) stop you from using CSS Grid.
</p>
<p>
  Learn how the power of CSS combined with feature queries allow you to declare display: grid with confidence on any project.
</p>
<p>
  Finally, you can get excited about designing for web again!
</p>

<h2>Description</h2>
<p>
  Despite many clever hacks and creative workarounds, there hasn’t been a simple answer for creating layout on the web. From misusing tables, to over-engineering simple floats that push around content, developers have consistently struggled to translate designs to code. Developers have been saying for years that there has to be a better way to create responsive websites, and finally, there is: CSS Grid, a proper layout tool for the web baked right into CSS itself, is here. It’s fantastic! It’s exactly what we’ve been waiting for! And yet, it seems to me that developers are hesitating. What’s the hold up?
</p>
<p>
  Don’t let still being on a float based layout like Bootstrap stop you from progressively enhancing your app with the new and exciting features of CSS!
</p>
<p>
  CSS Grid isn’t a hack, it’s a proper layout tool for the web. You don’t need to install anything, you don’t need a preprocessor, and you don’t need to twist your brain into knots just to understand how it works.
</p>
<p>
  In this talk, I’ll share how I implemented this CSS Grid progressive enhancement in The New York Times Watching app - the challenges, the successes, and what I learned along the way.
</p>

<h2>Talk</h2>
<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/L-d3PZSswIg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>

