<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
<br/>
<br/>

<%= render "from-front-end-developer-to-typeface-designer--header" %>

<h2>Abstract</h2>
<p>
  I’m addicted to typography.
</p>
<p>
  It started with a designing few characters for some signs a few years ago and since then it taken on a life of its own.
</p>
<p>
  One off projects are fun, but I wanted to create something bigger: a complete typeface.
</p>
<p>
  My talk will get you as excited about typefaces too.
</p>

<h2>Description</h2>
<p>
    I’m addicted to typography. It started with a designing few characters for some signs a few years ago and since then it’s taken on a life of its own. Even the nameplate on my door is one of my typeface projects.
</p>
<p>
  One off projects are fun, but I wanted to create something bigger: a complete typeface. With that came a whole set of things that I had to learn while doing. Illustrator was great for a start, but I realised I needed to start using real font design software. I had to move away from OpenType exports, and create some real kerning rules. And, of course I also had to include the German ä, ö, ü, and ß. Oh, and diacritics for French. And Spanish. And Swedish. Even Vietnamese. That’s tricky – but you feel great about it all when it’s done. Over time, there’s the issue of adding more weights. That got tested it over and over because I wanted it to be outstanding.
</p>
<p>
  As a consequence of this process, I learned a lot about existing typefaces, why they are good (or not-so-good) and it increased my general quality of work immeasurably.
</p>
<p>
  After all these years, I’m still highly motivated in continuing and finishing this project. But designing a font is like a designing a website – the work never done, just ready to be released.
</p>
<p>
  With this presentation, I want to show you how the process of designing your own typeface is a challenging but achievable, and very worthwhile project that will improve your work and skills in ways you may not have imagined. That, and to get you as excited about designing typefaces as I am.
</p>

<h2>Talk</h2>
<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/52cjFZU9vhE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>

