<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
<br/>
<br/>

<%= render "how-does-javascript-math--header" %>

<h2>Abstract</h2>
<p>
  Unravel the mystery of JavaScript addition with an empirical adventure through the JavaScript web console, Mathmagic Land, and the ES5 specs.
<p>
</p>
  Emerge with new perspective on the methods behind the JavaScript mayhem, and the inspiration and tools to explore new mysteries in JavaScript yourself!
</p>

<h2>Description</h2>
<p>
  If you’ve spent much time writing (or debugging) JavaScript, you’ve probably come across some quirky behavior, especially in the strange and wonderful ways Javascript handles math.
<p>
</p>
  To unravel the mystery of JavaScript addition, we will go on an empirically-structured adventure through the JavaScript web console, Mathmagic Land, and the ECMAScript Language Specification.
<p>
</p>
  With some help from Donald Duck, you will emerge with new perspective on the methods behind the JavaScript mayhem, and the inspiration and tools to explore new mysteries in Javascript yourself!
</p>

<h2>Talk</h2>
<div class="videoWrapper">
    <iframe width="560" height="349" src="https://www.youtube.com/embed/Hox9ZHNpScg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
