<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
<br/>
<br/>

<%= render "how-I-went-from-forklift-driver-to-developer-in-9-months--header" %>

<h2>Description</h2>
<p>
  Moving up the ladder from forklift driver and general labourer, to front end developer, with a stint in manual testing, was a big challenge. However it's exactly what I did, and I couldn't have done it without following a few core principles.
</p>
<p>
  Getting up the nerve to go to local usergroups, and conferences, and discovering a new found love of public speaking, was a huge leap from labouring. Similarly, I discovered contributing to open source wasn't that big a deal, and some things certain projects did made it really easy! Also, learning about things like source control was super integral to being where I am today.
</p>
<p>
  The most important part was trying to learn something from everyone I met. It didn't matter where I met you, if I saw an opportunity to learn more, or try a new thing, I was there.
</p>
<p>
  I'd love to tell you how I went from forklift driver to developer in less than 9 months, and show you how you can help anyone wanting to make a start.
</p>

<h2>Talk</h2>
<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/V6OsD60ne0w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>

