<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
<br/>
<br/>

<%= render "overcoming-your-fear-of-failure--header" %>

<h2>Abstract</h2>
<p>
  Have you ever been too afraid to try for an opportunity because you feared that you wouldn’t get it?
</p>
<p>
  In this talk, you’ll learn more about some of the causes of fear of failure, along with clear strategies that you can use to overcome it and advance within your tech career.
</p>

<h2>Description</h2>
<p>
  Have you ever been too afraid to try for an opportunity because you feared that you wouldn’t get it? In this talk, you’ll learn more about some of the causes of fear of failure, along with clear strategies that you can use to overcome it and advance within your tech career.
<p>
</p>
  Fear of failure is very common, especially among women who are underrepresented in tech. You should attend this session if you’d like to learn how to develop more confidence, build a strong support network, and avoid the pitfalls of perfectionism and procrastination. We’ll use relevant examples from TV and pop culture to illustrate how you can overcome your fear or failure and further develop your potential as a tech leader.
<p>

<h2>Talk</h2>
<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2cts3rEYhvg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
