<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>
<br/>
<br/>

<%= render "practical-color-theory-for-people-who-code--header" %>

<h2>Abstract</h2>
<p>
  Stop picking colors at random!
</p>
<p>
  I abstracted my domain knowledge as a fine artist into variables and functions in order to reveal color selection as being logical, predictable, and driven by principles anyone can learn.
</p>
<p>
  Learn about wavelengths, old school fine art, and see practical code examples!
</p>

<h2>Description</h2>
<p>
  Something that sounds as simple as picking a color palette is often the very thing that scares developers away from diving into design. Design decisions are so open ended and exposed, and everyone’s a critic. Plus, there is no compiler throwing an error or tests failing if your colors clash. No wonder I’ve seen amazing developers clam up when it’s time to make some design decisions, deferring to “someone creative, who knows more about design” even if I know they want to learn more about design themselves.
</p>
<p>
  After my presentation, developers will be able to do the basics of color theory, and to feel confident about learning more if they are inspired. How will I do this? The developer way - by abstracting away my domain knowledge as a fine artist into variables and functions and putting the code on Github. My goal is to demystify design decisions and reveal them to be logical, predictable, and driven by principles that anyone can learn.
</p>
<p>
  Designers get something out of this talk too, not only do I encourage every developer in the room to appreciate the domain knowledge designers have to internalize, the many decisions that they have to make, and the hard work it takes to wield color intentionally and skillfully, I also show them how to communicate these decisions to developers.
</p>
<p>
  Along the way, we’ll answer a lot of the following questions:
  <ul>
    <li>* How can I improve accessibility with my use of color?</li>
    <li>* Why are most ‘call to action’ buttons a warm color like red or orange?</li>
    <li>* Why shouldn’t I use #000000 on my website?</li>
    <li>* Why can red and green color schemes troublesome in design?</li>
    <li>* What happens if you mix exactly equal parts red and green? How about blue and orange?</li>
    <li>* Why do highlights always go on the tops of buttons?</li>
    <li>* Why do some colors look good together?</li>
    <li>* Why does a color look good in a color picker, but can look so bad when you use it on your site?</li>
    <li>* Why does using more white space make things look so much better?</li>
    <li>* Why are Sass variables and color functions such an awesome tool for developers?</li>
  </ul>
</p>
<p>
  Again, this isn’t a talk about how colors make us feel - this is science! I will be talking wavelengths, old school fine art resources, and code!
</p>

<h2>Talk</h2>
<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-l0MuyR7amw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<%= link_to "Back to Proposals", proposals_path, class: "btn btn-warning pull-right" %>
<br/>

