<div id="intro" class="jumbotron">
  <h1>Primary Parent Online Workshop</h1>
  <h2>10:00am EST till 12:00pm EST March 2nd 2019</h2>
  <% link_to "Book your free ticket", "http://ti.to", class: "ticket-button btn btn-warning", target: "blank" %>
  <%= link_to "Tickets coming soon", "#", class: "ticket-button btn btn-warning", target: "blank" %>
</div>


<h2>Workshop Information</h2>
<div id="intro" class="jumbotron workshop-notes">
  <b><%= simple_format "This online workshop is tailored specifically to Primary Parents in putting together their proposal and what they can expect when travelling as a parent to give that all important talk" %></b>
</div>

<h2>Organiser</h2>
<div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/natalya_shelburne.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Natalya Shelburne</div>
        <br/>
        <b>Reason for being involved in workshop:</b>
        <br/>
        <br/>
        <b>AboutNatalya</b>:
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/natalyathree" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Natalya Shelburne on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>

<%= link_to "Tickets coming soon", "#", class: "ticket-button btn btn-warning", target: "blank" %>
