<h1>Edit Account</h1>

<%= link_to "Log out", destroy_user_session_path, class: "pull-right btn btn-warning", method: :delete %>

<%= form_for(current_user, url: account_path(current_user)) do |f| %>
  <%= render "devise/shared/user_form", f: f %>

  <div class="actions">
    <%= f.submit "Update details", class: "btn btn-warning" %>
  </div>
<% end %>
