<h1>Edit Account</h1>

<%= link_to "Back", workshop_landing_page_for(current_user), class: "pull-right btn btn-warning" %>

<%= form_for(current_user, url: account_path(current_user)) do |f| %>
  <%= render "devise/shared/user_form", f: f %>

  <div class="actions">
    <%= f.submit "Update details", class: "btn btn-warning" %>
  </div>
<% end %>
