<div id="ana-rodrigues" class="jumbotron">
  <h1><%= twitter_link "ohhelloana", "Ana Rodrigues" %></h1>
  <h2>Global Diversity CFP 2018 London Attendee</h2>
</div>

<h3>Tuesday 29th January 2019</h3>

<p>
  After moving to London I began to attend a lot of meet-ups and some conferences. They were always excellent but I never 100% connected to them. That changed when in 2017 I saw one particular talk that I really enjoyed because it made me feel that my interests were not strange and that there was more people like me in the community. So I thought “I wish I could talk about this too and give my perspective”. I also saw it as an opportunity to put myself out there and connect with people with the same interests as me. I set it as a goal for 2018 to give a talk in one meet-up.
</p>
<p>
  I stumbled upon Global Diversity CFP day workshop via Twitter because I followed one of the mentors and in February I signed up for the workshop in London. I wanted to learn how to prepare a talk proposal since English isn’t my native language. Although I knew what I wanted to talk about, I was open to more ideas.
</p>
<p>
  All the rounds of exercises were incredibly useful and in each step there was something I learnt about myself. I hadn’t realised how much I struggled to write my own bio for example. The exercises around it and how you can talk about yourself were so practical that even someone shy like myself ended up with a written bio in the end. The session about our actual talks were the most crucial bit for me. I wrote down so many notes when I was brainstorming with the mentors about my talk idea. They also gave me their perspectives on it that I hadn’t even considered. It did feel like a safe place to share and get feedback.
</p>
<p>
  But we’re all humans and in all honesty and to my embarrassment I ended up crying in it. I felt overwhelmed and ashamed of myself. Although everything was going well, my mind was telling me that my bio wasn’t great and that I don’t have anything interesting to tell people. I was bottling up these self doubt feelings and when it came to the last exercises I couldn’t stop the tears falling from my face. I didn’t have anything technical. I felt that I wasn’t coming up with anything revolutionary or brand-new. I felt as if I was wasting everyone’s time. I can’t thank Sareh (one of mentors) enough for being incredibly supportive on that moment that I broke down. The advice I was given to fight this self doubt was exactly what I needed to hear.
</p>
<p>
  The mentors were supportive, encouraging and shared a lot from their experience. I was so impressed with the talk proposals of everyone else that was in the workshop. All of them did feel “revolutionary” because it was coming from unique people. The day ended with the mentors sharing stories of “when things went wrong” and lots of useful tips.
</p>
<br/>
<div class="jumbotron background-london-2018"></div>
<p>
  So, if I had been home alone doing this I would have given up. Instead, when I arrived home I had a bio and a shy idea.
</p>
<p>
  But most importantly, I wouldn’t have given my talks. Yes, plural. I set my goal to do one talk in 2018. I did three! Towards September I finally had the courage to start submitting my talk in local meet-ups (TODO London and ReactJSGirls) and as a lightning talk at a conference (View Source) and they were accepted. But I was also rejected from other places and you know what? It’s okay and normal. There is room for everyone in the community and it can be anywhere and it probably won’t be at your first choice.
</p>
<br/>
<div class="jumbotron background-ana"></div>
<p>
  By the time I had to give my talks I was so nervous. I also learned so much in all of them. From my perspective they weren’t perfect but I did put my heart out in them and my number one goal, to connect with like minded people, was achieved. Being able to chat and keep in touch with people who related to what I said and later on approached me is incredible.
</p>
<p>
  I still have lots to learn but a big step already happened and I’m very grateful to all the organisers. I had this day in my mind when I gave my talks.
</p>

<br/>

<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xdmohZQd4QA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
<br/>
<br/>
<br/>
