<div id="andy-haskell" class="jumbotron">
  <h2>Andy Haskell: <br/>My experience organizing Global Diversity CFP Day Boston</h2>
</div>

<div class='gdcfpday-post'>
  <h3>Wednesday 21st November 2018</h3>

  <p>
    Global Diversity CFP Day (CFP = Call for Proposals) is a worldwide workshop for members of underrepresented groups in tech to learn about how to become a tech conference speaker. The workshop series started as an offshoot of a workshop at the <a href="http://scotlandjs.com">ScotlandJS</a> conference, and in its first full year, 2018, GDCFP happened in 52 cities, plus one remote workshop!
  </p>
  <p>
    I was on the organizing team for Boston with some awesome teammates, <a href="https://twitter.com/acnagy">Anna Nagy</a> and <a href="https://twitter.com/ichthyos">Eddie Kay</a>, and as a team we managed to get a fun, informative workshop off the ground in just under a month. GDCFP is looking to get new workshops into more cities for our 2019 series. So if you’re interested in organizing or mentoring in your town and promoting more diversity on the 🎤 at conferences, even if you’ve never run a workshop before, read on to hear about how Boston got ours!
  </p>

  <h3>What does a GDCFP workshop teach?</h3>

  <p>
    Global Diversity CFP Day teaches about all areas of tech public speaking, with a special focus on the process of getting a talk ready for a tech conference. Some of these things include figuring out a topic for your talk, writing a talk proposal that catches the conference organizers’ eyes, and a “crafting your bio” workshop, where attendees pair up to write and present each other’s bios. Another great section of the workshop was the Caring for your Audience discussion, where mentors and attendees brainstorm exclusionary language in tech talks and come up with more inclusive alternatives, such as “blacklist/whitelist” => “blocklist/safelist”, “so easy my grandma could do this” => “straightforward to use”.
  </p>
  <p>
    <a href="https://twitter.com/jiggy_pete">Peter Aitken</a>, the head of GDCFP, encouraged organizers to make sure the workshop is not all just talks from the mentors. So for our event, most of the sections we had ended up being roundtable discussions, making for a very conversational style that really let everyone participate and share knowledge. The official schedule does include videos to show as well, but organizers are allowed to take artistic license on that. So instead of showing the video on slides, Sean Kelly, an experienced conference speaker, gave a live-demo of how he writes slides for his talk to make them easy and enjoyable to read, and <a href="https://twitter.com/markbates">Mark Bates</a>, founder of <a href="https://www.papercall.io/">papercall.io</a>, a site for submitting your talk proposals, gave a presentation showing the designs of winning tech talk proposals that get into events.
  </p>
  <p>

  </p>
  <br>
  <p>
    <br/>
    <div class="jumbotron blog--andys-post__speaker"></div>
    <span class="image-description pull-right">
      Sean Kelly demonstrating how to make your slides memorable and add a personal brand to them with his famous conference corgi, #ShanksyGoodboy
    </span>
    <br>
    <br>
    <br>
  </p>
  <p>
    You can find the official version of the schedule <a href="https://www.globaldiversitycfpday.com/schedule">here</a>.
  </p>
  <h3>
    How Boston got our workshop off the ground
  </h3>
  <br>
  <p>
    For 2018, the Boston team had to work really fast because we didn’t actually form until near the end of December, giving us just a month before February 3rd to get this thing up and running! I spent the second half of the fall posting on Twitter to recruit a co-organizer, and in December, I got a comment on my post from <a href="https://twitter.com/acnagy">Anna Nagy</a> asking if I was still planning on running this event, followed a few days after by <a href="https://twitter.com/ichthyos">Eddie Kay</a>. Then at the Caffe Nero in Brookline, the team formed! It turned out that <a href="https://twitter.com/ichthyos">Eddie</a> had been involved a lot with CFP workshops on the job at athenahealth, and <a href="https://twitter.com/acnagy">Anna</a> has been both a conference speaker and organizer, and I had experience as an organizer for Boston Golang. We prepared a Trello board of things to get done, ideas for parts of the event, and groups to contact to find attendees and mentors, and then we began preparing.
  </p>
  <p>
    The first thing to get done was finding a venue, and we had a few options planned out. On such short notice, we were incredibly lucky to get a venue on our first try. David Chase from Google, who runs the space when Boston Go holds our meetups, helped us to get space and food at Google Cambridge for the workshop. I had also already recruited <a href="https://twitter.com/markbates">Mark Bates</a> as well as two of my Boston Go co-organizers as mentors, and <a href="https://twitter.com/ichthyos">Eddie</a> helped us get more great mentors from athenahealth.
  </p>
  <p>
    To find attendees, we tweeted a ton about the event, but additionally, we reached out to diversity-focused tech groups we knew about or had contact with, and used our EventBrite ticket page to find out who needed special accommodations, as well as a Google Survey to figure out what people were most interested in hearing about at roundtables. This year, with much more time to get the event started, we are also planning on adding to our outreach by doing more networking, as well as holding preseason events like informal breakfasts. That way attendees and mentors can meet before the big event and we can really form a Boston GDCFP community. Unfortunately, we don’t have any analytics from last event on which parts of our outreach were the most effective, but in general, I think contacts with people who the organizing team already knew were the most effective, so if you’re organizing a workshop for 2019, keep on networking!
  </p>
  <p>
    Finally, for getting the event going, we gathered material to write an intro packet for the event. We wrote up a schedule and description of the event, added the code of conduct, plus we gathered lists of conferences with open CFPs, local meetups, and public speaking resources (<a href="https://twitter.com/acnagy">Anna</a> opened a Twitter thread and loads of speakers shared more resources than we could fit on the packet!). You can see the Boston event’s final product <a href="https://docs.google.com/document/d/1jAAFpuE7IA_1-zsJZ3R6XmfKT_nFInHIXBmOB-wrZqQ/edit?usp=sharing">here</a>. One recommendation for writing an intro packet, though, you should look for a printing sponsor; to get the material printed for 25 attendees and 10 mentors, the price came to a hefty $140, even with the code of conduct printed separately so it could be in black and white!
  </p>
  <p>
    <br/>
    <div class="jumbotron blog--andys-post__pack"></div>
    <span class="image-description pull-right">
      Our intro packet, complete with Ashley McNamara Mic Drop Gopher stickers!
    </span>
    <br>
    <br>
  </p>

  <h3>
    At the event
  </h3>
  <p>
    On February 3rd, the workshop happened! As I mentioned before, a lot of the workshop we had roundtable discussions on each topic, which the Google space lent really well to, with lots of rooms and lounges to use as breakout spaces. Additionally we had presentations and used a couple of the videos that the official GDCFP website provided. The place where the freeform style really shined, in my opinion, was the Caring for your Audience discussion. While the original intent was talking about how to make your own talks welcoming to more people, there also was some cool discussion on ways to make conferences themselves more inclusive, like having quiet rooms for people to recharge, keeping exclusionary language and tropes out of conference swag, and reserving the front rows for people with disabilities to make it easier for them to enjoy the talks. The presentations were also highlights since people could hear about strategies to get proposals accepted, and about making your slides both easier to read and part of your personal brand.
  </p>
  <p>
    <br/>
    <div class="jumbotron blog--andys-post__cfya"></div>
    <span class="image-description pull-right">
      One of the boards for the Caring for your Audience discussion
    </span>
    <br/>
    <br/>
    <br/>
  </p>
  <p>
    The venue itself also was really conducive to a GDCFP-style workshop. In addition to spaces for discussion, there were single-occupancy gender-neutral restrooms, elevators that people in wheelchairs could use, easy access to public transportation, and red badge clips for people who don’t want to be photographed. Additionally, although she couldn’t make it to the event, one attendee had a baby, and David even managed to help us get a babysitter!
  </p>
  <p>
    One thing I think could’ve gone better with this workshop, though, was just having more time to throw together this event. The organizing team did an excellent job running this and we had a great space, but one thing that stood out was that we got a good number of non-engineer attendees, such as people working in product and even in history, so with more time to prepare, we could have recruited more mentors outside of engineering. Additionally, having more time to prepare the event would allow us to engage with attendees more beforehand and build more of a speaker community. However, overall I think the workshop was still great and provided a lot of useful knowledge on speaking (which I also used myself to get my first conference talk in at the end of October)!
  </p>
  <p>
    <div class="jumbotron blog--andys-post__family-photo"></div>
    <span class="image-description pull-right">
      Boston Family Photo
    </span>
    <br/>
    <br/>
    <br/>
  </p>
  <p>
    I hope that this all has gotten you interested in running a Global Diversity CFP Day event for 2019, or if you were planning on it, I hope it has given you some idea of what the work organizing looks like. If you have questions about organizing and running this event, I am happy to answer them, and you can send them to me in a tweet or a Twitter DM at <a href="https://twitter.com/AndyHaskell2013">@AndyHaskell2013</a>.
    <br/>
    <br/>
  </p>
