

<div id="intro" class="jumbotron">
  <h1>Cat Hawker</h1>
  <h2>Senior Web Developer, BBC Education</h2>
  <h2>Diversity CFP Workshop attendee</h2>
</div>

<h3>Monday 22nd January 2018</h3>

<p>
  I had been to a couple of tech conferences and found them an inspiring and energising experience. I wanted to go to more and I knew speaking would be a way to get my employer to let me do so!  Plus being a presenter would give people a reason to come up and start a conversation and save me from awkwardly hanging around by the biscuits at coffee time.
</p>
<p>
  I quite fancied being up on the stage, I just didn’t know what I wanted to talk about or how to get started.  So when I was thinking about asking if I could go to ScotlandJS and I saw the workshop advertised on their website I thought it would be a great idea to go along (not to mention it would give me a reason to get out of the house on a winter weekend).
</p>
<br/>
<div class="jumbotron background-cat"></div>
<p>
  I didn’t know what to expect, but the workshop was super relaxed and friendly.  First I chatted with the mentors and other attendees then we watched a video about the applications process, which was really informative.  It was great to get sage advice from people who have a lot of experience of both writing and sifting through conference submissions.
</p>
<p>
  Then we got to discussing what we might like to talk about.  This was the most useful part of the session for me.  I had a vague idea that I might like to talk about accessibility as I’d been learning a lot about it lately and had been surprised to discover that I had soon become the team expert on it at work.  Clearly there was a big knowledge gap in the industry and I thought I could help to fill it.  However, I’d got it into my head that since there had been a session on accessibility at the previous year’s conference then nobody would want to hear about it again this year.
</p>
<p>
  The workshop facilitator soon banished that self-doubt.  He pointed out that most of the people at the conference would not have been the previous year, and the topic is so big that I was very unlikely to come up with exactly the same idea for a twenty minute talk.  The mentors assured me that they all felt they needed to know more about it and gave some ideas on particular aspects they were curious about.
</p>
<p>
  I was also worried that I wasn’t really an expert in the subject, just somebody with a bit more knowledge than her peers.  Again, the mentors set this fear to rest with the sage advice that often a beginner in a subject is much better at communicating it to other novices than an expert who assumes too much prior knowledge from the audience.
</p>
<p>
  Buoyed up by the enthusiasm people at the workshop had shown for my talk and armed with all the great advice about how to ace the conference submissions process, I wrote up my proposal and applied to speak at ScotlandJS.  When I got accepted of course I was absolutely thrilled!  People had voted for my talk!  Then I was a little terrified: now I had to write it.  Thankfully I’d also had loads of great advice about preparing to speak at a conference.
</p>
<p>
  When the day came, I was pretty nervous.  I had presented informal talks at work and to small meetup groups where I knew everyone, but standing up in front of 300 people was a different matter entirely. However, I knew I was well prepared for many different eventualities.  I had even recorded videos of all my demos to avoid the curse of live coding, and included the screen reader subtitles in case I had any issues with audio playback.
</p>
<br/>
<div class="jumbotron background-cat-on-stage"></div>
<p>
  As it turned out, this came in handy!  I’d be lying if I said my first conference talk went perfectly.  There were plenty of things I wanted to do better next time and one or two carefully rehearsed things that I entirely forgot to say.  But the main thing was, I wanted there to be a next time!
</p>
<p>
  I had great fun at the conference, I amazed myself by actually getting on stage in front of 300 people and afterwards my confidence soared.  If I could do that, what else could I do?  And yes, I did get chatting to people instead of pretending to be really fascinated by the snacks, and found out that a lot of people learned something useful from my talk, which felt fantastic.
</p>
<br/>
<br/>


