<div id="chen-hui-jung" class="jumbotron">
  <h1>My Speaking Journey</h1>
  <h2>Singapore workshop organiser</h2>
  <h2><%= twitter_link "hj_chen", "Chen Hui Jung" %></h2>
</div>

<div class='gdcfpday-post'>
  <h3>Thursday 22nd November 2018</h3>

 <p>
    I started attending conferences in 2015, and my first one was <a href="https://2014.formfunctionclass.com/">Form, Function, Class 5</a> in Manila, quickly followed by <a href="https://2014.cssconf.asia/">CSSConf.Asia</a> 2015 back in Singapore. The conferences were great, with inspiring and informative talks, plus the opportunity to meet a lot of amazing people. As much as I enjoyed the experience, the matter of fact was that around Southeast Asia, there simply aren’t that many web conferences, unlike Europe or the United States. And I definitely couldn’t afford to get to those under normal circumstances.
  </p>
  <p>
    But I had been writing about CSS and web development quite a bit for some time, and I got an article published on A List Apart, which prompted a friend of mine to nudge me into speaking about it at a local Javascript meetup. The thing about tech meetups in Singapore is that almost every meetup is recorded, so speakers end up with videos of their talk.
  </p>
  <p>
    This comes in really handy when submitting CFPs. The first CFP of mine that ever got accepted was for <a href="https://pitercss.com/">piterCSS</a>, a frontend conference out of Saint Petersburg, Russia, by <%= twitter_link "pepelsbey_", "Vadim Makeev" %>. I also got invited to speak at <a href="https://www.webconf.asia/">Webconf.asia</a> in Hong Kong, by <%= twitter_link "charis", "Charis Rooda" %>. Both conference organisers took a chance on me for their inaugural conferences, and essentially kickstarted my conference speaking journey.
  </p>
  <p>
    <br/>
    <div class="videoWrapper">
        <!-- Copy & Pasted from YouTube -->
        <iframe width="560" height="349" src="https://www.youtube.com/embed/Vw6Uq7g0LF0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br/>
  </p>
  <p>
    One thing I realised is that local developers from Southeast Asia don’t often appear on international conference stages. Though there are plenty of speakers from Europe and the United States who come over here to speak. So when I was asked to speak on a panel at last year’s global diversity CFP day workshop, I immediately said yes.
    <br/>
    <br/>
  </p>
  <p>
    <div class="jumbotron blog--hjs-post__workshop"></div>
  </p>
  <p>
    The workshop included an introduction by <a href="https://jsconf.asia">JSConf.Asia</a> organiser, <%= twitter_link "serrynaimo", "Thomas Gorrisen" %>, who provided helpful tips on what organisers look out for when they sift through hundreds of CFPs, and the panel covered advice on public speaking and preparing for the talk. After which participants worked together in groups to put any ideas they had onto paper, or refine any talk proposals they already had in mind.

  </p>
  <p>
    In general, developers from our region tend to be less vocal and expressive when compared to our Western counterparts. And initiatives like global diversity CFP day are beneficial to the effort to increase the variance of perspectives within the tech industry and encourage local developers to share their knowledge and experiences with the world.
  </p>
  <p>
  </p>
  <p>
  </p>




