<div id="intro" class="jumbotron">
  <h1>Global Diversity CFP Day 2019</h1>
  <h2>2069 attendees worldwide </h2>
  <h2>81 workshops in 35 countries</h2>
  <h2>by <%= twitter_link "jiggy_pete", "Peter Aitken" %></h2>
</div>

<p>
  On Saturday March 3rd 2019 Global Diversity CFP Day returned aiming to build on the overwhelming success of the 2018 event 🎉
</p>

<p>
  Having 50% more workshops available the number of attendees doubled from 2018!
</p>

<p>
  To make this happen 364 volunteers, from all areas of tech around the world, signed up to support people from underrepresented and marginalised groups take their first step in becoming a tech conference speaker.
</p>

<br/>
<p>
  <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">On our way to <a href="https://twitter.com/hashtag/gdcfpday2019?src=hash&amp;ref_src=twsrc%5Etfw">#gdcfpday2019</a> :D <a href="https://t.co/RjlT7lga1X">pic.twitter.com/RjlT7lga1X</a></p>&mdash; Benedicte Raae (@raae) <a href="https://twitter.com/raae/status/1101770287836786688?ref_src=twsrc%5Etfw">March 2, 2019</a></blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</p>
<br/>

<p>
Our journey begins in Wellington, New Zealand 🇳🇿 at a workshop organised by 2018 attendee, <a href="https://twitter.com/loraVardarova">Lora Vardova</a>.
</p>
<br/>
<p>
  <br/>
  <div class="jumbotron blog--2019-wellington-family-photo" alt="Wellington Family Photo"></div>
  <span class="image-description pull-right">Wellington, New Zealand Family Photo</span>
  <br>
  <br>
  <br>
</p>

Then we moved to Melbourne, Perth and Sydney in Australia 🇦🇺

<p>
  <br/>
  <div class="jumbotron blog--2019-sydney-family-photo" alt="Sydney Family Photo"></div>
  <span class="image-description pull-right">Sydney, Australia Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  Then there was a host of first time Global Diversity CFP Day locations including Jakarta, Tokyo, Hyderabad, Bengaluru, Johanesburg and Nablus!
</p>

<p>
  <br/>
  <div class="jumbotron blog--2019-johanesburg-family-photo" alt="Nablus Family Photo"></div>
  <span class="image-description pull-right">Johanesburg, South Africa Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2019-nablus-family-photo" alt="Nablus Family Photo"></div>
  <span class="image-description pull-right">Nablus, Palestine Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
Let's share some of what happened within the workshops.
Here is the full length recording of the speakers panel session from the Singapore 🇸🇬 workshop.
</p>
  <br>

<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hicIi-0EZtw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br/>
  <span class="image-description pull-right">Speakers Panel, Singapore</span>
<br/>

<p>
  Next is the "brain storming your talk" session from Nablus, Palestine🇵🇸
</p>
<br/>

<blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="und" dir="ltr"><a href="https://twitter.com/hashtag/GlobalDiversityCFPDay?src=hash&amp;ref_src=twsrc%5Etfw">#GlobalDiversityCFPDay</a> <a href="https://twitter.com/hashtag/gdcfpday2019?src=hash&amp;ref_src=twsrc%5Etfw">#gdcfpday2019</a> <a href="https://twitter.com/gdcfpday?ref_src=twsrc%5Etfw">@gdcfpday</a>  <a href="https://twitter.com/hashtag/moztechspeakers?src=hash&amp;ref_src=twsrc%5Etfw">#moztechspeakers</a> <a href="https://twitter.com/hashtag/nablus?src=hash&amp;ref_src=twsrc%5Etfw">#nablus</a> <a href="https://twitter.com/hashtag/palestine?src=hash&amp;ref_src=twsrc%5Etfw">#palestine</a> <a href="https://t.co/Z9xcZ9Gdu6">pic.twitter.com/Z9xcZ9Gdu6</a></p>&mdash; Yamama يمامة (@yamama_sh) <a href="https://twitter.com/yamama_sh/status/1101826901893677058?ref_src=twsrc%5Etfw">March 2, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br/>

<p>
Another first for Global Diversity CFP Day 2019 was the Primary Parents Online workshop. This was specifically run to prepare primary care givers with the advice necessary to make international speaking engagements possible with the child.
</p>
<p>Thank you to <a href="ttps://twitter.com/natalyathree">Natalya Shelburne</a> for making this happen!</p>
<br/>

<blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">A 👶 snapshot from our <a href="https://twitter.com/gdcfpday?ref_src=twsrc%5Etfw">@gdcfpday</a> <a href="https://twitter.com/hashtag/gdcfpday2019?src=hash&amp;ref_src=twsrc%5Etfw">#gdcfpday2019</a> Primary Parents Online Workshop! (This was truly global, so it was bedtime for some!) <a href="https://t.co/4FUbub6Ln1">pic.twitter.com/4FUbub6Ln1</a></p>&mdash; Natalya (@natalyathree) <a href="https://twitter.com/natalyathree/status/1101913429944815616?ref_src=twsrc%5Etfw">March 2, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br/>


<p>
  <br/>
  <div class="jumbotron blog--2019-glasgow-family-photo" alt="Glasgow Family Photo"></div>
  <span class="image-description pull-right">Glasgow, Scotland Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2019-washington-family-photo" alt="Washington DC Family Photo"></div>
  <span class="image-description pull-right">Washington DC, USA Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2019-vancouver-family-photo" alt="Vancouver Family Photo"></div>
  <span class="image-description pull-right">Vancouver, Canada Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>Global Diversity CFP Day pulls together people that share the same values and will be an ongoing part of the tech calendar for years to come!</p>
<p>Lian shared what a number of volunteers felt:</p>
<blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">One of the best things about <a href="https://twitter.com/gdcfpday?ref_src=twsrc%5Etfw">@gdcfpday</a> was seeing all the awesome people I&#39;ve met and friends I&#39;ve made all over the world pop up in their respective locations and inspiring the next generation of amazing speakers.</p>&mdash; Lian Li (@Chimney42) <a href="https://twitter.com/Chimney42/status/1101990889893908480?ref_src=twsrc%5Etfw">March 2, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<br/>


<p>
  We're never to sure when attendees will make that progression to a tech conference stage. This year we are pleased to share that Skye Simpson set a new record by having their talk propsal accepted within 7 days!!!!!!!!!!
  <p>
<p>
  Congratulations Skye!
  <p>
<blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Excited to be speaking at <a href="https://twitter.com/codecampwelly?ref_src=twsrc%5Etfw">@codecampwelly</a> ! Thanks <a href="https://twitter.com/gdcfpday?ref_src=twsrc%5Etfw">@gdcfpday</a> for helping craft a proposal</p>&mdash; Skye Simpson (@Skye_Belinda) <a href="https://twitter.com/Skye_Belinda/status/1104863338352111616?ref_src=twsrc%5Etfw">March 10, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


<h2>Thank You!</h2>
<p>
  There are so many people to thank and without them Global Diversity CFP Day 2019 simply would not have achieved the same level success in supporting sooooo many!
</p>
<p>
  Thank you to all 2069 attendees! We can't wait to see how you're speaking career progresses. Please let us know when you are accepted to speak and let us join in the celebration! 💛
</p>
<p>
  Thank you to Raquel Vélez, Sarah Mei, Danielle Barnes, Saron Yitbarek, Melinda Seckington and Jessica Rose for providing the educational content for these workshops. These videos are what makes this event straight forward for someone to organiser a workshop. 💛
  </p>
<p>
  Thank you to all 364 volunteers whose hard work, time and experience shaped each individual workshop. 💛
  </p>
<p>
  Thank you to each of the companies that sponsored workshop venues and catering! 💛
  </p>
  <p>
    Finally, thank you to the Global Code of Conduct team for making themselves available through out the event and ensuring that everyones safety is of paramount importance. 💛
  </p>
<p>
Best of luck in 2019, we can't wait to hear how you get on!
</p>
<br/>
<p>
  <%= twitter_link "jiggy_pete", "Peter Aitken" %>
</p>


