<div id="intro" class="jumbotron">
  <h1>Global Diversity CFP Day 2020</h1>
  <h2>? attendees worldwide </h2>
  <h2>82 workshops in 35 countries!</h2>
</div>

<p>
  <br/>
  <div class="jumbotron blog--2020-singapore-family-photo" alt="Singapore Family Photo"></div>
  <span class="image-description pull-right">Singapore, Singapore Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2020-jakarta-family-photo" alt="Jakarta Family Photo"></div>
  <span class="image-description pull-right">Jakarta, Indonesia Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2020-london-family-photo" alt="London Family Photo"></div>
  <span class="image-description pull-right">London, England Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2020-sao-paulo-family-photo" alt="São Paulo Family Photo"></div>
  <span class="image-description pull-right">São Paulo, Brazil Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2020-new-york-family-photo" alt="New York Family Photo"></div>
  <span class="image-description pull-right">New York, USA Family Photo</span>
  <br>
  <br>
  <br>
</p>

<p>
  <br/>
  <div class="jumbotron blog--2020-toronto-family-photo" alt="Toronto Family Photo"></div>
  <span class="image-description pull-right">Toronto, Canada Family Photo</span>
  <br>
  <br>
  <br>
</p>
