<div id="wendy-gwo" class="jumbotron">
  <h1><%= twitter_link "wendygwo", "Wendy Gwo" %></h1>
  <h2>Global Diversity CFP 2019 Los Angeles Attendee</h2>
  <h3>My experience with Global Diversity CFP day</h3>
</div>

<h3>Thursday 5th December 2019</h3>

<p>
  I attended my first global diversity CFP day in March 2019 in Santa Monica, CA. Prior to attending, I hadn’t realized how much one meetup could impact my life. Presenting a conference talk was an idea that had been in the back of my mind since at least the middle of 2018, and the idea kept growing until I couldn’t ignore it anymore. When I saw an email about the LA edition of global diversity CFP day, I decided to sign up, despite not knowing what to expect and not really having attended any other meetups in the two years since I’d had my son.
</p>

<p>
  Up until that point, I had no conference speaking experience. I'd spoken plenty in front of smaller audiences at work, and a few times for engineering alumni events at UCLA, my alma mater, but never in front of a big group of strangers about a topic of my choosing.
</p>

<p>
  When the day before the event came, I considered backing out. My son had been sleeping poorly the last few nights, so I was super tired and I didn’t want to spend half my weekend away from him. However, in the end, my desire to speak at a conference before the end of the year won out and I woke up early and went on my way to Santa Monica.
</p>

<p>
  The first thing that I noticed when I showed up was the diversity of the attendees. I currently work as a software engineer in a startup and previous to that, I worked as an electrical engineer in an aerospace company, so I wasn’t used to seeing people representing so many facets of diversity at the meetups that I typically attend.
</p>

<p>
  The agenda was thoughtful and included a panel of experienced speakers, who pointed us towards useful resources, such as where to go to keep track of newly opened CFPs. It also included speakers that talked about specific topics I wouldn’t have thought of when applying to speak at conferences, such as how to write my bio. I hadn’t realized that most CFPs require that you include a speaker bio as part of your submission, and is something I wouldn’t have put time or thought into if it weren’t part of the workshop.
</p>

<p>
  The whole day was great, but by far, the best part of the day was the idea sharing section. My idea was “Congrats! You’re the first to have a baby at your startup. Now what?” I was the first woman at my previous job at a startup to go on maternity leave, so I’d done a ton of research on what policies applied to my maternity leave. In the ensuing two years, I’d also shared that knowledge with countless female friends and coworkers, because it’s such a complicated topic in the U.S. that even big companies often get maternity leave policies wrong. This was the idea for the talk I wanted to give, but I didn’t think anyone would actually want to hear a conference talk about it.
</p>


<p>
  <br/>
  <div class="jumbotron blog--wendys-post__jsconf-korea" alt="Wendy Speaking at JSConf Korea"></div>
  <span class="image-description pull-right">Wendy speaking at JSConf Korea</span>
  <br>
  <br>
  <br>
</p>


<p>
  Imagine my surprise when I got a round of applause after sharing my idea. One of the mentors told me she was an advisor to a group that she thought would be really receptive to the talk, if I wanted a venue to practice. I also had people come up and talk to me at the end of the event to say how great they thought the idea was. It was because of the amount of support and encouragement I got from my fellow attendees and organizers that I had the courage to submit my talk proposal to the next few CFPs that popped onto my radar.
</p>

<p>
  I’d been well prepared for rejection by the panelists at the event, who cited the low acceptance rates for CFPs. Rather than getting bummed out when I heard about the low acceptance numbers, i actually felt better prepared for the inevitable rejections I’d get. Because I have a type-A personality, I decided to keep a Trello board of all the CFPs I submitted to and when I should hear back. I figured that this way, I'd at least be able to keep track of my numbers and not get too sad when I got a few rejections in a row. The first inevitable rejection rolled in, and I blew right past it. Imagine my surprise when my second response to a CFP was accepted! This was for the Abstractions conference in Pittsburgh. I excitedly accepted, and figured that I was ahead of the curve in terms of acceptance rate, so I fully expected the remaining 5 conferences I had submitted CFPs to to end up as rejections. I was wrong. My talk was subsequently accepted to two more conferences: Write/Speak/Code in San Francisco, and JSConf Korea (the first one in Korea!).
</p>

<p>
  It was then that I realized the true power of global diversity CFP day. At the time, I didn’t think my conference talk topic was super amazing. It was just a topic that I was knowledgeable about and felt was valuable to share with others. But based on my acceptance numbers, clearly it was a topic that wasn’t being talked about by typical conference speakers. It was only because of the encouragement and help I received at the event that I even felt like I deserved to throw my hat in the CFP ring. By doing so, I was accepted to far more conferences than I would have believed possible just a few months before.
</p>

<p>
  <br/>
  <div class="jumbotron blog--wendys-post__abstractions-speakers" alt="Wendy and other speakers from Abstractions.io"></div>
  <span class="image-description pull-right">Wendy and other speakers from Abstractions.io</span>
  <br>
  <br>
  <br>
</p>

<p>
  I could go on and on about my experience putting together my talk and presenting the talks, if you’ve made it this far, you’ve already been very patient and generous with your time. Long story short, presenting my talk three times within a month (once internationally!) was a priceless and unforgettable experience. Meeting my fellow speakers was the best part of each conference. They were all unfailingly friendly, upbeat, and supportive. Seeing their smiling faces in the audience when I gave my talks was what helped ease my nerves each time.
</p>

<p>
  All of this is to say, if you have any interest in speaking at a conference, or even just spending a day with an awesome and diverse group of people, you should attend global diversity CFP day! It was an amazing experience for me, and was the reason I was able to achieve my goal of speaking at a conference so quickly and successfully.
</p>
<br/>

<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/j7CYDYhHluA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br/>
