<div id="intro" class="jumbotron">
  <h1>Silvia Pina</h1>
  <h2>Backend software developer</h2>
  <h2>Diversity CFP Workshop attendee</h2>
</div>

<h3>Friday 20th October 2017</h3>

<p>
  Ever since I first started attending technical conferences I had the goal of (eventually) becoming a conference speaker. It seemed to be something I would like to do, researching a topic in depth and then presenting it - what an awesome learning opportunity!
</p>
<p>
  I found out about this wonderful website full of resources and encouragement for turning yourself into a speaker, that helped me decide this was really something achievable for me (and for everyone, really, because “we are all awesome”): http://weareallaweso.me/.
</p>

<br/>
<div class="jumbotron background-silvia"></div>

<p>
  It took me some time to get started. Well, there is the small matter of public speaking being something I stress inducing for me (still today), and that I feel uncomfortable doing. I am by no means a natural at this!
</p>
<p>
  A turning point for me was hearing about the ScotlandCSS + ScotlandJS Diversity CFP workshop, organized in 2016 in several different locations. I immediately jumped and enrolled in it, as something like this was just the incentive that I needed, and it came just at the right time.
</p>
<p>
  I attended the Berlin workshop. At first, I was not sure what to expect. Maybe some presentations on how to be an effective conference speaker, which we started with - and these were really informative, addressing all my concerns on anxiety in public speaking. But what really made the difference was the encouragement that I got, and above all the practical help in getting together an abstract, first starting with a general template with the whole structure and then assembling the pieces in a coherent text.
</p>
<p>
  I already had some ideas that I could work with, but somehow translating them into a coherent abstract that made the topic seem interesting seemed to be hard to achieve. Having a background both in computer science and psychology, I wanted to speak about topics that bring together both areas of knowledge. And I picked the topic of cognitive bias in software programming.
</p>
<p>
  And so it happened that at the end of the workshop I had an almost complete abstract for a conference talk! Which is something I had never expected to have at the end of the day!!!
</p>
<p>
  A week or two after this, I decided to submit the resulting abstract to ScotlandJS, as the breadth of topics covered by them is wide - and in the end was accepted, so it feels like going full circle.
</p>

<br/>
<div class="jumbotron background-silvia-on-stage"></div>

<p>
  Even today I still refer to my notes from this workshop, and still use the methodology I learned there to put together an abstract. What I learned there has given me the push I needed to meet the goal of being a conference speaker, and for this I will be always grateful to all the organizers!
</p>
