// Place all the styles related to the Workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Workshops {
  &__EditBar{
    display: flex;
    flex-wrap: wrap;
    
    & > .btn {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.grouping {
  & .btn {
    // margin-top: 1rem;
  }

  & .input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

